
.box1{
    background-color: aqua;
}

.box2{
    background-color: aquamarine;
}

.box3{
    background-color: antiquewhite;
}

.box4{
    background-color: burlywood;
}

.box5{
    background-color: rgb(16, 141, 16);
}

.box6{
    background-color: rgb(101, 255, 183);
}


.box7{
    background-color: rgb(150, 33, 124);
    
}
